<!DOCTYPE html>
<html lang="pt-BR">
<head th:replace="base :: head(${page}, ~{::meta})">
	<meta charset="UTF-8">
</head>
<body th:replace="base :: layout-preset(${page}, ~{::content})">
    <content id='conteudo'>
        <form action="/produtos/cadastrar" method="POST" id='cadastro'>
            <h1>Cadastro</h1>
            <input type="text" name="title" id="" placeholder="Título" class="form-control-lg">
            <input type="number" name="price" id="" placeholder="Preço" class="form-control-lg">
            <input type="number" name="stock" id="" placeholder="Estoque" class="form-control-lg">
            <select name="store" id="" class="form-control-lg">
                <option value="A" selected>Loja A</option>
                <option value="B">Loja B</option>
                <option value="C">Loja C</option>
            </select>
            <hr>
            <div class="d-flex gap-2">
                <button type="reset" class="btn btn-lg btn-danger w-100">Cancelar</button>
                <button type="submit" class="btn btn-lg btn-success w-100">Salvar</button>
            </div>
        </form> 
    </content>
</body>
</html>