<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: head(${page}, ~{::meta})">
	<meta charset="UTF-8">
</head>
<body>
    <aside th:replace="base :: menu-esquerdo(${page})"></aside>
    <main class="principal">
        <header th:replace="base :: cabecalho"></header>
        <main id='conteudo'>
            <table class="table">
                <thead>
                    <th scope="col">Id</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Curso</th>
                    <th scope="col">Opções</th>
                </thead>
                <tbody>
                    <tr>
                        <td scope='row'>1</td>
                        <td>Caio</td>
                        <td>Informática</td>
                        <td>
                            <a href="/form/${aluno.id}" class="btn-sm btn-outline-success">EDITAR</a> | <a href="alunos/delete/${aluno.id}" class="btn-sm btn-outline-danger">DELETAR</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </main>
    </main>
</body>
</html>