<!DOCTYPE html>
<html lang="pt-BR">
<head th:replace="base :: head(${page}, ~{::meta})">
	<meta charset="UTF-8">
</head>
<body th:replace="base :: layout-preset(${page}, ~{::content})">
    <content id='conteudo'>
        <table class="table">
            <thead>
                <th scope="col">Id</th>
                <th scope="col">Endereço</th>
                <th scope="col">Funcionários</th>
                <th scope="col">Opções</th>
            </thead>
            <tbody th:each="row : ${lojas}">
                <tr>
                    <td th:text="${row.id}" scope='row'></td>
                    <td th:text="${row.address}"></td>
                    <td th:text="${row.employees}"></td>
                    <td>
                        <a href="#" class="btn-sm btn-outline-success">EDITAR</a> | <a href="#" class="btn-sm btn-outline-danger">DELETAR</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </content>
</body>
</html>